/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

body {
  background-color: #f0f7fa; /* Light blue background color */
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.recipe-card {
  background: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

.recipe-card p {
  margin: 0 0 10px 0;
}

.recipe-card ul {
  list-style-type: none;
  padding: 0;
}

.recipe-card ul li {
  margin: 5px 0;
}
